<h1>Publics#new</h1>
<p>Find me in app/views/publics/new.html.erb</p>

          <% @imagenes.each do |catalog| %>
            <!-- <div class="sponsor" title="Click to flip"> -->
              <!-- <div class="sponsorFlip"> -->

                  <%= image_tag(catalog.route) %>
                  <%#= link_to image_tag(catalog.route, :class => "cover"), catalog %>

              <!-- </div> -->
            <!-- </div> -->

    <!-- <hr /> -->
          <% end %>