<p>Hola,</br>
	<b>CMelendez</b>
	Me presento muy coordialmente como <b><%=@name%></b> con numero de telefono: <b><%=@phone%></b> y correo electronico <b><%=@email%></b><br>
	<b>Para :</b><br>
	<%=@messages%>
</p>
