<head>
		<title>Servicios</title>
		<meta charset="utf-8">
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your keywords">
		<meta name="pactel_ingenieria" content="Your name">
		<%= content_for :extra_js do %>
  			<%#= javascript_include_tag '1.js' %>
		<% end %>

		<%= content_for :extra_css do %>
  			<%= stylesheet_link_tag 'style_pdf.css' %>
		
		<% end %>
		<%#= image_tag("/assets/favicon.ico" ) %>

</head>


<h1>Vista sin bd </h1>