<h1>Activos</h1>

<%
# consulta por cantidad de clientes en lo que va del mes
clients_hash =  Client.where(buyer: true, updated_at: (Date.today.at_beginning_of_month)..Date.today).group(:document).count
# clients_hash =  Client.where(buyer: true, updated_at: (Date.today - 1.year)..Date.today).maximun(group(:document).limit(10)).count

# # cantidad de clientes en el ultimo mes
clients_month_hash =  Client.where(buyer: true, updated_at: (Date.today.at_beginning_of_month - 1.month)..(Date.today.at_end_of_month - 1.month)).group(:document).count
    clients_month_ordered = Hash[clients_month_hash.sort_by{|k, v| v}.reverse]
    clients_month_hash = Hash[clients_month_ordered.first(10)]

# cantidad de clientes de los ultimos 6 meses hasta el mes pasado
clients_sixmonth_hash =  Client.where(buyer: true, updated_at: (Date.today.at_beginning_of_month - 6.month)..(Date.today.at_beginning_of_month)).group(:document).count
    clients_sixmonth_ordered = Hash[clients_sixmonth_hash.sort_by{|k, v| v}.reverse]
    clients_sixmonth_hash = Hash[clients_sixmonth_ordered.first(10)]

# Cantidad de clientes del ultimo ano
clients_year_hash =  Client.where(buyer: true, updated_at: (Date.today.at_beginning_of_year - 1.year)..(Date.today.at_end_of_year - 1.year)).group(:document).count

# toma los registros del hash de mayor a menor
# clients_hash.sort_by{|k,v| v}.reverse
 # clients_hash.sort {|a,b| b[1]<=>a[1]}
# Hash[clients_hash.sort_by{|k, v| v}.reverse]
clients_ordered = Hash[clients_hash.sort_by{|k, v| v}.reverse]
clients_hash = Hash[clients_ordered.first(10)]

# Client.find(:all, :limit => 3, :order => 'document')
# Notice.find(:all, :limit => 3, :order => 'particularField')






    arrClients = Array.new

	clients_hash.each { |key, value|  

    	client_hash = Hash.new

		@client = Client.find_by_document(key.to_s)

        client_hash["id"] = @client.id
        client_hash["name"] = @client.name
        client_hash["amount"] = value

        arrClients.push(client_hash)

	}



    


%>

<input type="text" id="clients_json" value="<%= arrClients.to_json %>" style="width:100%;"/>

<script type="text/javascript">
// alert();

console.log($('#clients_json').val())

var object_json = JSON.parse($('#clients_json').val());
    
    // object_json.each 
var d1 = [];
var ticks = [];

$.each(object_json, function(idx, obj) {
    // alert(obj.tagName);
   var d = [idx, obj.amount] 
   var dname = [idx, obj.name] 
   d1.push(d);
   ticks.push(dname);
});
console.log(d1);
// JSON.stringify(d1)

// var d1 = [[0, 3], [1, 3], [2, 5], [3, 7], [4, 8], [5, 10], [6, 11], [7, 9], [8, 5], [9, 13]];
// var d1 = [[0, 3], [1, 3], [2, 5], [3, 7], [4, 8], [5, 10]];
// var dataset = [{ label: "2012 Average Temperature", data: d1, color: "#5482FF" }];
var dataset = [{ label: "2014 Clientes", data: d1, color: "#5482FF" }];
// var ticks = [[0, "London"], [1, "New York"], [2, "New Delhi"], [3, "Taipei"],[4, "Beijing"], [5, "Sydney"]];
 

var options = {
    series: {
        bars: {
            show: true
        }
    },
    bars: {
        align: "center",
        barWidth: 0.5
    },
    xaxis: {
        axisLabel: "World Cities",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 10,
        ticks: ticks
    },
    yaxis: {
        axisLabel: "Average Temperature",
        axisLabelUseCanvas: true,
        axisLabelFontSizePixels: 12,
        axisLabelFontFamily: 'Verdana, Arial',
        axisLabelPadding: 3,
        // tickFormatter: function (v, axis) {
        //     return v + "°C";
        // }
    },
    legend: {
        noColumns: 0,
        labelBoxBorderColor: "#000000",
        position: "nw"
    },
    grid: {
        hoverable: true,
        borderWidth: 2,
        backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
    }
};







$(document).ready(function () {
//     $.plot($("#placeholder"), [
//         {
//             data: d1,
//             bars: {
//                 show: true
//             }
//         }
//     ]);
$.plot($("#placeholder5"), dataset, options);

});


</script>



		<div class="demo-container" style="">Grafica No.4 Ventas Del Año Anterior
			<div id="placeholder5" class="demo-placeholder"></div>
		</div>		