// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#header h1 img {
	width: 230px;
	margin-top: 10px;	
}

span.LV_validation_message.LV_invalid{
//	font-weight: 700;
	 font-weight:bold;
	margin:0 0 0 5px;
	color:rgb(158, 15, 15);
}

li#compra_proveedores:hover ul {
z-index: 99999999999999999999999999999999999999999;
background: rgb(10, 0, 255)!important;
display: block;
}