.imgProducto{
	width: 133px; 
	height: 133px; 
	display: block; 
	margin: 0 auto;
}
.imgCategoriaIndex{
	/*width: 220px; */
	height: 220px; 
	display: block; 
	margin: 0 auto;
}

.divCategoriaservice{
	/*width: 220px; */
	height: 220px; 
	display: block; 
	margin: 0 auto;
}
.textCategoriaservice{
	text-align: justify;
}

.divCategoriaBlog{
	width: 270px;
	height: 220px; 
	display: block; 
	margin: 0 auto;
}