<%= content_for :head %>
<%= stylesheet_link_tag 'file2.css' %>
<%= stylesheet_link_tag 'file.css' %>
<%#= stylesheet_link_tag 'stylesheet' %>

<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<h1>Carga de estilo file2.css</h1>
